/*-------------------------------------------------
  * All Reset Settings *
-------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	color:#2230b2;
}
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/*-------------------------------------------------
  * All Common Settings *
-------------------------------------------------*/
body {
	margin:0;
	padding:0;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#container {
	margin: 0px auto;
	min-width:320px;
	max-width:800px;
	background:#ffffff;
}

.fontHKSCS {
	font-family:MingLiU_HKSCS;
}

div#spinner {
	width:32px;
	margin:30px auto;
}
div#spinner span#spinnerIcon {
	display:block;
	width:32px;
	height:32px;
	margin:0;
	padding:0;
	background:url(../img/common/ajax_spinner.gif) no-repeat;
}

/*--- Header Settings -----------------------------*/
#headerArea {
	width:auto;
	height:45px;
	margin:0;
	padding:0 0 0 15px;
	position:relative;
	overflow:hidden;
	border-bottom:1px solid #aeaeae;	
	background-color:#ededed;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(1.00, #c0c0c0), color-stop(0.42, #efefef), color-stop(0.00, #ffffff));
	background-image:-webkit-linear-gradient(top, #ffffff 0%, #efefef 42%, #c0c0c0 100%);
	background-image:-moz-linear-gradient(top, #ffffff 0%, #efefef 42%, #c0c0c0 100%);
	background-image:-o-linear-gradient(top, #ffffff 0%, #efefef 42%, #c0c0c0 100%);
	background-image:-ms-linear-gradient(top, #ffffff 0%, #efefef 42%, #c0c0c0 100%);
	background-image:linear-gradient(top, #ffffff 0%, #efefef 42%, #c0c0c0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#c0c0c0,GradientType=0);zoom:1;
}
#headerArea h1 {
	width:100%;
	margin:0 0 0 -15px;
	padding:17px 0 0 0;
	text-align:center;
	font-size:14px;
	font-weight:600;
}

p.btnTwitter {
	position:absolute;
	top:3px;
	right:5px;
	width:37px;
	height:37px;
	margin:0;
	text-align:left;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}
p.btnTwitter a {
	display:block;
	margin:0;
	padding:0;
	line-height:1.0;
}
p.btnTwitter a span.icon {
	display:block;
	width:37px;
	height:37px;
	margin:0;
	padding:0;
	background:url(../img/common/btn_twitter.png) no-repeat;
}

p.toHome {
	position:absolute;
	top:3px;
	left:5px;
	width:37px;
	height:37px;
	margin:0;
	text-align:left;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}
p.toHome a {
	display:block;
	margin:0;
	padding:0;
	line-height:1.0;
}
p.toHome a span.icon {
	display:block;
	width:37px;
	height:37px;
	margin:0;
	padding:0;
	background:url(../img/common/btn_home.png) no-repeat;
}
p.toBack {
	position:absolute;
	top:3px;
	left:5px;
	width:37px;
	height:37px;
	margin:0;
	text-align:left;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}
p.toBack a {
	display:block;
	margin:0;
	padding:0;
	line-height:1.0;
}
p.toBack a span.icon {
	display:block;
	width:37px;
	height:37px;
	margin:0;
	padding:0;
	background:url(../img/common/btn_back.png) no-repeat;
}
p.toTop {
	position:absolute;
	top:3px;
	left:5px;
	width:37px;
	height:37px;
	margin:0;
	text-align:left;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}
p.toTop a {
	display:block;
	margin:0;
	padding:0;
	line-height:1.0;
}
p.toTop a span.icon {
	display:block;
	width:37px;
	height:37px;
	margin:0;
	padding:0;
	background:url(../img/common/btn_totop.png) no-repeat;
}


/*--- Footer Settings -----------------------------*/
#footerArea {
	margin:20px 0 0 0;
	padding:0;
	background:#dadada;
	position:relative;
	height:25px;
	overflow:hidden;
}
#footer {
	height:100%;
	margin:0;
	padding:8px 0;
	background:#dadada url(../img/common/bg_footer.png) repeat-x;
	border-top:1px solid #b9b9b9;
}
#footer address {
	height:23px;
	color:#8e8e8e;
	font-style:normal;
	text-align:left;
	font-size:9px;
	font-weight:500;
	padding:.1em 1em;
}

p.pagetop {
	position:absolute;
	top:4px;
	right:4px;
	width:16px;
	height:16px;
	margin:0;
	text-align:left;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}

/* Pagetop Arrow  */
p.pagetop a {
	display:block;
	margin:0;
	padding:0;
	line-height:1.0;
}
p.pagetop a span.icon {
	display:block;
	width:16px;
	height:16px;
	margin:0;
	padding:0;
	background:url(../img/common/btn_top.png) no-repeat;
}

/*--- Common Parts Settings -----------------------------*/
.red {
	color:#d20030;
}
.gray {
	color:#77889d;
}
.bg000 {
	background-color:#000;
}
.bold {
	font-weight:bold;
}
.center {
	text-align:center;
}

div.bar {
	height:11px;
	width:100%;
	margin:5px 0;
	border-top:1px solid #dbdbdb;
	/* gradient */
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #e0e1e1),color-stop(1, #f8f8f8));
	background-image:-moz-linear-gradient(top, #e0e1e1, #f8f8f8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e0e1e1,endColorstr=#f8f8f8);zoom:1;
}

/* Select Menu */
#terms {
	width:100%;
	text-align:center;
	margin:10px 0;
	padding:0 0 15px 0;
}
#terms select {
	font-size:18px;
	padding: 5px 15px 5px 5px;
}

div.listArea {
	display:block;
	width:96%;
	margin:5px auto;
}
.contentsArea {
	display:block;
	width:96%;
	margin:10px auto;
	font-size:12px;
}
h4.dataTitle,
h3.dataTitle,
h2.dataTitle {
	position:relative;
	font-size:14px;
	margin:0;
	line-height:1.2;
	padding:4px 0 3px 8px;
	border:1px solid #5f6a78;
	border-left:none;
	border-right:none;
	background: #77889d;
	color:#ffffff;
	box-shadow:inset 1px 1px 0 rgba(255,255,255,0.4);
}
h2.dataTitle2 {
	width:96%;
	margin:15px auto 2px auto;
	padding:0;
	font-size:16px;
	line-height:1.0em;
	border:none;
	background:none;
	color:#000000;
}
h3.groupTitle,
h2.groupTitle {
	font-weight:normal;
	font-size:14px;
	margin:0;
	line-height:1.2;
	padding:4px 0 3px 10px;
	border:1px solid #3b4c82;
	border-left:none;
	border-right:none;
	background:#405aad;
	color:#ffffff;
	box-shadow:inset 1px 1px 0 rgba(255,255,255,0.4);
}

h3.infoTitle {
	width:auto;
	margin:0;
	padding:4px 0 3px 1.5%;
	font-size:14px;
	line-height:1.2;
	border:1px solid #d2dde7;
	border-left:1px solid #dbdbdb;
	border-right:1px solid #dbdbdb;
	background: #dbe4ec;
	color:#000000;
}
h4.infoTitle2 {
	margin:0;
	padding:4px 0 3px 8px;
	font-size:14px;
	line-height:1.0;
	background:#efefef;
}
p.text {
	margin:.5em .5em .5em .5em;
	font-size:14px;
	line-height:1.5em;
}
p.read {
	margin:10px auto 2px auto;
	width:96%;
	font-size:90%;
	padding:0;
	line-height:1.4;
}
p.read span.intro {
	display:block;
}

/* Basic Linklist UI Gradation Version */
ul.list {
	display:block;
	position:relative;
	clear:both;
	width:100%;
	margin:0 auto;
	padding:0;
	background:none;
	line-height:1.0em;
}
ul.list li {
	position:relative;
	display:block;
	background-position:98% 50%;
	line-height:1.0em;
	border:1px solid #dadada;
	border-top:none;
	/* gradient */
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #e8e8e8));
	background-image:-moz-linear-gradient(top, #ffffff, #e8e8e8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#e8e8e8);zoom:1;
}
ul.list li a {
	display:block;
	padding:10px 5px 12px 5px;
	text-decoration:none;
	color:#000;
	background-image:url(../img/common/arrow_blue.png);
	background-repeat:no-repeat;
	background-position:98% 50%;
}

/* Basic Linklist UI DotLine Version */
ul.list2 {
	display:block;
	position:relative;
	clear:both;
	width:100%;
	margin:0 auto;
	padding:0;
	background:none;
	line-height:1.0em;
	font-size:14px;
}
ul.list2 li {
	display:block;
	background-position:98% 50%;
	line-height:1.0em;
	border-top:1px dashed #dadada;
}


/* Player List */
ul.list p.themeImg {
	width:35px;
	height:35px;
	overflow:hidden;
	float:left;
	margin:0px 10px 0 5px;
	padding:0;
}
ul.list p.themeImg img {
	border:none;
}
ul.list p.playerStatus {
	font-size:10px;
	font-weight:600;
	display:block;
	width:auto;
	height:16px;
	text-align:left;
	margin:4px 0 0 0;
	padding:0;
	color:#c0001f;
}
ul.list p.playerName {
	width:auto;
	font-size:16px;
	font-weight:600;
	margin:0;
	padding:0;
	line-height:1.0em;
	color:#010101;
}


/*--- Basic Table Setting -----------------------------*/
table.basic {
	width:100%;
	margin:0 0 15px 0;
	border-collapse:collapse;
}
table.basic th {
	font-size:12px;
	text-align:center;
	border:1px solid #dadada;
    padding:0.3em 1em;
}
table.basic td {
	font-size:12px;
	text-align:center;
	border:1px solid #dadada;
    padding:0.3em 1em;
}

/* Basic Center Button */
div.btn {
	width:96%;
	clear:both;
	display:block;
	position:relative;
	margin:10px auto;
	padding:0;
	text-align:center;
}

/* 変更ボタン Silver 全体幅 */
p.btnChange {
	width:308px;
	margin:0 auto;
	padding:0;
	/* gradient */
	background-color:#e0e0e0;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #cacaca));
	background-image:-moz-linear-gradient(top, #ffffff, #cacaca);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#cacaca);zoom:1;
}
p.btnChange a {
	display:block;
	margin:0;
	padding:7px 0;
	text-decoration:none;
	cursor:pointer;
	color:#333;
	font-size:12px;
	font-weight:600;
	text-align:center;
	text-shadow:1px 1px #fff;
	border:1px solid #bebebe;
	background-image:url(../img/common/arrow_blue.png);
	background-repeat:no-repeat;
	background-position:98% 50%;
}

/* もっと見るボタン Silver 全体幅 */
div.btn .btnMore {
	margin:0;
	padding:0;
	/* gradient */
	background-color:#e0e0e0;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #cacaca));
	background-image:-moz-linear-gradient(top, #ffffff, #cacaca);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#cacaca);zoom:1;
}
div.btn p.btnMore a {
	display:block;
	margin:0;
	padding:8px;
	text-decoration:none;
	cursor:pointer;
	color:#333;
	font-size:12px;
	font-weight:600;
	text-shadow:1px 1px #fff;
	border:1px solid #bebebe;
	background-image:url(../img/common/arrow_blue_btm.png);
	background-repeat:no-repeat;
	background-position:98% 50%;
}

/* 戻るボタン1  Silver 全体幅 */
p.btnBack {
	margin:0;
	padding:0;
	/* gradient */
	background-color:#e0e0e0;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #cacaca));
	background-image:-moz-linear-gradient(top, #ffffff, #cacaca);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#cacaca);zoom:1;
}
p.btnBack a {
	display:block;
	margin:0;
	padding:8px;
	text-decoration:none;
	color:#333;
	font-size:12px;
	font-weight:600;
	text-shadow:1px 1px #fff;
	border:1px solid #bebebe;
	background-image:url(../img/common/arrow_link_back.png);
	background-repeat:no-repeat;
	background-position:2% 50%;
}

p.toAreaTop {
	position:relative;
	clear:both;
	float:left;
	display:inline-block;
	margin:10px 0 10px 5px;
	padding:0;
	text-align:center;
	/* gradient */
	background-color:#e0e0e0;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #cacaca));
	background-image:-moz-linear-gradient(top, #ffffff, #cacaca);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#cacaca);zoom:1;
}
p.toAreaTop a {
	display:block;
	margin:0;
	padding:11px 15px 10px 15px;
	text-decoration:none;
	color:#333;
	font-size:12px;
	font-weight:600;
	text-shadow:1px 1px #fff;
	border:1px solid #bebebe;
	background-image:url(../img/common/arrow_link_back.png);
	background-repeat:no-repeat;
	background-position:2% 50%;
}

/* Black 全体幅 */
.linkUiColor {
	display:block;
	width:308px;
	margin:14px auto;
	padding:8px 0;
	color:#fff;
	border:1px solid #565656;
	font-size:16px;
	text-shadow:1px 1px #111;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	background:#5f5f5f;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #888888),color-stop(1, #333333));
	background-image:-moz-linear-gradient(top, #888888, #333333);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#888888,endColorstr=#333333);zoom:1;
	-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;
}

/* 一覧を見るボタン Black 右寄せ */
p.btnList {
	width:200px;
	clear:both;
	display:block;
	position:relative;
	margin:10px 0 10px auto;
	padding:4px 0;
	text-align:center;
	border:1px solid #565656;
	/* gradient */
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #8b8b8b),color-stop(1, #333333));
	background-image:-moz-linear-gradient(top, #8b8b8b, #333333);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#8b8b8b,endColorstr=#333333);zoom:1;
}
p.btnList a {
	display:block;
	text-decoration:none;
	color:#ffffff;
	padding:5px;
	background-image:url(../img/common/arrow_white.png);
	background-repeat:no-repeat;
	background-position:95% 50%;
}

/* 前へ 次へボタン （Silver 右寄せ） */
ul.btnNextPrev {
	clear:both;
	display:block;
	margin:0;
	padding:0;
	width:100%;
}
ul.btnNextPrev li {
	width:45%;
	margin:0;
	padding:0;
	list-style:none;
	border:1px solid #bebebe;
	background-color:#e0e0e0;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #ffffff),color-stop(1, #cacaca));
	background-image:-moz-linear-gradient(top, #ffffff, #cacaca);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#cacaca);zoom:1;
}
ul.btnNextPrev li a {
	display:block;
	margin:0;
	padding:8px 0;
	text-decoration:none;
	color:#333;
	font-size:12px;
	font-weight:600;
	text-shadow:1px 1px #fff;
}
ul.btnNextPrev li.prev {
	float:left;
}
ul.btnNextPrev li.next {
	float:right;
}
ul.btnNextPrev li.prev a {
	background-image:url(../img/common/arrow_link_back.png);
	background-repeat:no-repeat;
	background-position:2% 50%;
}
ul.btnNextPrev li.next a {
	background-image:url(../img/common/arrow_link_back.png);
	background-repeat:no-repeat;
	background-position:98% 50%;
}

/*　ショップサーチへのボタン Silver 中央 */
p.toShopsearch {
	width:150px;
	height:30px;
	margin:2px auto;
	padding:0;
	text-align:center;
	border:1px solid #bebebe;
	/* gradient */
	background-color:#e0e0e0;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #fafafa),color-stop(1, #cacaca));
	background-image:-moz-linear-gradient(top, #fafafa, #cacaca);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fafafa,endColorstr=#cacaca);zoom:1;
	/* box shadow */
	-moz-box-shadow:0 0 1px rgba(0,0,0,.3);
	-webkit-box-shadow:0 0 1px rgba(0,0,0,.3);
	box-shadow:0 0 1px rgba(0,0,0,.3);
}
p.toShopsearch a {
	display:block;
	width:133px;
	height:20px;
	margin:0;
	padding:10px 17px 0 0;
	line-height:1.0em;
	font-size:10px;
	font-weight:600;
	text-decoration:none;
	color:#7f7f7f;
	text-shadow:1px 1px #fff;
	text-align:center;
	background:url(../img/common/arrow_gray.png) 0 0 no-repeat;
	background-repeat:no-repeat;
	background-position:93% 50%;
}

/*　ログアウトボタン Silver 右寄せ */
ul.btnMenu {
	display:inline-block;
	float:right;
	width:96%;
	/*min-width:244px;*/
	margin:0 auto;
	padding:0;
}
ul.btnMenu li {
	display:inline-block;
	width:100px;
	height:30px;
	margin:0;
	padding:0 20px 0 0;
	display:block;
	float:right;
	position:relative;
	text-align:center;
	border:1px solid #bebebe;
	/* gradient */
	background-color:#e0e0e0;
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #fafafa),color-stop(1, #cacaca));
	background-image:-moz-linear-gradient(top, #fafafa, #cacaca);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fafafa,endColorstr=#cacaca);zoom:1;
	/* box shadow */
	-moz-box-shadow:0 0 1px rgba(0,0,0,.3);
	-webkit-box-shadow:0 0 1px rgba(0,0,0,.3);
	box-shadow:0 0 1px rgba(0,0,0,.3);
}
ul.btnMenu li a {
	width:100px;
	height:20px;
	margin:0;
	padding:10px 20px 0 0;	
	display:block;
	position:relative;
	float:left;	
	line-height:1.0em;
	font-size:10px;
	font-weight:600;
	text-decoration:none;
	color:#7f7f7f;
	text-shadow:1px 1px #fff;
	text-align:center;	
	background:url(../img/common/arrow_gray.png) 0 0 no-repeat;
	background-repeat:no-repeat;
	background-position:90% 50%;
}


/*--- Common Contents Switch Tab Settings -----------------------------*/
ul.tabNav {
	display:block;
	width:auto;
	margin:10px auto;
	padding:.5em 0;
}
ul.tabNav li {
	display:block;
	float:left;
	width:auto;
	padding:0;
	text-align:center;
}

/* Each Contents */
#dayTab {
	width:100%;
	padding:10px 0 0 0;
	margin: 10px 0 0 0;
	border-top:1px solid #c0cdd5;
	border-bottom:5px solid #77889d;
	/* gradient */
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #d3dde4),color-stop(1, #ffffff));
	background-image:-moz-linear-gradient(top, #d3dde4, #ffffff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d3dde4,endColorstr=#ffffff);zoom:1;
}
ul#daySelect {
	width:90%;
	max-width: 500px;
	display:block;
	margin: 0px auto;
	padding:0;
}
ul#daySelect li {
	width:50%;
}
ul.tabNav li a {
	display:block;
	width:auto;
	margin:0;
	padding:2px;
	font-size:12px;
	text-decoration:none;
	color:#2e5d83;
	line-height:1.0em;
	border:1px solid #657c93;
	border-bottom:none;
	background:#ffffff;
	/* box shadow */
	-moz-box-shadow:0 -18px 10px -15px rgba(0,0,0,.2) inset;
	-webkit-box-shadow:0 -18px 10px -15px rgba(0,0,0,.2) inset;
	box-shadow:0 -18px 10px -15px rgba(0,0,0,.2) inset;
}
ul.tabNav li a.active {
	display:block;
	width:auto;
	margin:0;
	padding:2px;
	line-height:1.0em;
	font-size:12px;
	text-decoration:none;
	color:#ffffff;
	border:1px solid #657c93;
	border-bottom:none;
	background:#77889d;
	/* gradient */
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #93a6bd),color-stop(1, #77889d));
	background-image:-moz-linear-gradient(top, #93a6bd, #77889d);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#93a6bd,endColorstr=#77889d);zoom:1;
	/* box shadow */
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
ul.tabNav li a span.light {
	display:block;
	padding:6px 10px;
}
ul.tabNav li a.active span.light {
	display:block;
	padding:6px 10px;
}

p.comment {
	text-align:center;
	color:#77889d;
	font-size:10px;
	margin:10px 0 0 0;
}

/* No Data Template */
p.notPlaying {
	display:block;
	text-align:center;
	width:96%;
	margin:5px auto 13px;
	font-size:13px;
	font-weight:600;
	line-height:1.6em;
}
p.noData {
	display:block;
	width:auto;
	margin:0 0 15px 0;
	padding:10px;
	font-size:13px;
	border:1px solid #dadada;
}
div.imageThrow {
	display:block;
	width:100px;
	height:80px;
	margin:0 auto;
	padding:0;
	background-image:url(../img/common/img_dartsThrow.png);
	background-repeat:no-repeat;
}

/* Alert UI */
dl.alertAnnotation,
ul.alert {
	color:#e00101;
	padding:.2em .5em;
	font-size:14px;
	border-top:1px solid #d20030;
	border-bottom:1px solid #d20030;
	background-color:#ffe7e7;
	text-shadow:1px 1px #fff;
}
ul.alert li {
	text-indent:-8px;
	padding-left:8px;
	list-style:none;
	line-height:1.4;
}
dl.alertAnnotation dt {
	margin:0;
}
dl.alertAnnotation dt strong {
	font-weight:0;
}
dl.alertAnnotation dd {
	margin:0;
}

/* Support Text UI */
ol.annotation {
	margin:.5em .5em 0 2.2em;
	padding:0;
	font-size:14px;
	line-height:1.4;
}
ol.annotation li {
	/*text-indent:-14px;
	padding-left:14px;*/
	list-style:decimal;
}

ul.annotation {
	width:96%;
	margin:.6em auto .6em auto;
	padding:0;
}
ul.annotation li {
	text-indent:-14px;
	padding-left:14px;
	list-style:none;
	font-size:14px;
	color:#77889d;
	line-height:1.4;
}
ul.annotation li span.emphasis {
	font-weight:600;
	color:#d20030;
}
ul.annotation li span.mark {
	font-size:12px;
	vertical-align:top;
}
p.read strong,
ul.annotation li strong {
	color:#d20030;
}

/* Form parts Ui Color　Black 全体幅 */
div.inputArea {
	padding:.7em 0 .6em 0;
	background-color:#ededed;
	border-bottom:1px solid #e0dede;
}
p.textField,
p.nameField {
	margin:0 .5em 0 .5em;
}
p.textField input,
p.textField textarea,
p.nameField input,
p.nameField textarea {
	width:96%;
	margin:0 0 .1em 0;
	padding:4px 5px;
	font-size:120%;
}

select:focus {outline:0;}
.inputUiColor {
	padding:.4em .5em;
	outline:0;
	border-left:1px solid #cdced1 !important;
	border-top:1px solid #cdced1 !important;
	border-right:1px solid #e2e9ec !important;
	border-bottom:1px solid #e2e9ec !important;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	font-size:14px;
	resize:none;
	color:#888;
	line-height:1.2;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
.inputUiColor:focus {
	outline:0;
	border-left:1px solid #75bbec !important;
	border-top:1px solid #75bbec !important;
	border-right:1px solid #75bbec !important;
	border-bottom:1px solid #75bbec !important;
	background-color:#eef7fe;
	-webkit-box-shadow:inset rgba(0,0,0,0.3) 0 0 2px,#65bdf9 0 0 3px;
	-moz-box-shadow:inset rgba(0,0,0,0.3) 0 0 2px,#65bdf9 0 0 3px;
	-o-box-shadow:inset rgba(0,0,0,0.3) 0 0 2px,#65bdf9 0 0 3px;
	box-shadow:inset rgba(0,0,0,0.3) 0 0 2px,#65bdf9 0 0 3px;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	-ms-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}



/*--- UTIL Common Settings -----------------------------*/
ul.editList li.item {
	text-shadow:1px 1px #fff;
}
ul.editList li.item a,
ul.editList li.item .innerDecorate {
	position:relative;
	display:block;
	padding:10px 5px 10px 5px;
	line-height:1.0;
	color:#77889d;
}
li.item h2.itemTitle,
li.item h3.itemTitle {
	margin:0 0 3px 0;
	font-weight:600;
	font-size:90%;
	color:#444;
	text-shadow:1px 1px #fff;
	text-align:left;
	line-height:1.0;
	padding:0;
	border:1px solid #111;
	background:none !important;
	border:none !important;
}
li.item ul.alert {
	border-left:1px solid #d20030;
	border-right:1px solid #d20030;
	margin:.5em 0;
}

ul.editList li.item p.now {
	width:93%;
	margin:0;
	line-height:1.2;
	font-weight:normal;
	font-size:90%;
}
ul.editList li.item span.editInfo {
	display:none;
	position:absolute;
	top:42%;
	right:28px;
	font-size:60%;
	color:#888;
}
ul.editList li.item p.nowList {
	font-size:90%;
	line-height:1.4;
}
ul.editList li.item p.nowList span {
	display:block;
}
ul.editList li.item p.editInfo {
	position:absolute;
	top:-10%;
	right:10px;
	display:block;
}

/* Each kind */
li.cardID {}
li.changePassword {}
li.item p.change {
	margin:0;
	padding:0;
}
li.cardID p.change input {
	width:240px;
	font-size:110%;
}
li.nowPassword p.now input,
li.changePassword p.change input {
	width:60px;
	font-size:110%;
}
li.newMail p.annotation {
	color:#444;
	margin:0;
	padding:0;
}
li.confReMail p.change input,
li.newMail p.change input {
	width:290px;
	font-size:110%;
	padding:.2em .5em;
}
li.term p.now select {
	font-size:18px;
    padding: 5px;
}

/* Background Glay Color List */
ul.editList2 {
	margin:0 0 .5em 0;
	padding:0;
	background-color:#ededed;
	text-shadow:1px 1px #fff;
}
ul.editList2 li {
	list-style:none;
}
ul.editList2 li.item {
	position:relative;
	border-top:1px solid #fff;
	border-bottom:1px solid #dddddd;
}
ul.editList2 li.item a,
ul.editList2 li.item .innerDecorate {
	padding:5px .5em;
}
ul.editList2 li.item p.now {
	margin:0;
}
ul.editList2 li ul.annotation {
	width:100%;
	margin:.2em auto .2em auto;
	font-size:12px;
}

/* flight color [C, CC, B, BB, A, AA] */
div#status #statusFl div#statusFlValue {
	display:block;
	width:80%;
	margin:3px auto;
	padding:0;
	line-height:1.2em;
	color:#FFFFFF;
}
div#status #statusFl div#statusFlValue span {
	display:block;
	width:auto;
	font-weight:800;
	/* 字の輪郭（仮） */
	/*
	-webkit-text-fill-color:white;
	-webkit-text-stroke-width:1px;
	-webkit-text-stroke-color:#a6a6a6;
	*/
	
	text-shadow:0px 0px 3px #a6a6a6;
}
div#status #statusFl div#statusFlValue span#noFL {
	background:#fff;
	border:1px solid #dadada;
	text-shadow:none;
	color:#dadada;
}

div#status #statusFl div#statusFlValue span#C {
	background:#6570ff;
	border:1px solid #598fff;
	/* gradient */
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #44c4ff),color-stop(1, #6570ff));
	background-image:-moz-linear-gradient(top, #44c4ff, #6570ff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#44c4ff,endColorstr=#6570ff);zoom:1;
}
div#status #statusFl div#statusFlValue span#CC {
	background:#6570ff;
	border:1px solid #598fff;
	/* gradient */
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #44c4ff),color-stop(1, #6570ff));
	background-image:-moz-linear-gradient(top, #44c4ff, #6570ff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#44c4ff,endColorstr=#6570ff);zoom:1;
}
div#status #statusFl div#statusFlValue span#B {
	background:#a44bf8;
	border:1px solid #ad4cf2;
	/* gradient */
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #cf7dee),color-stop(1, #a44bf8));
	background-image:-moz-linear-gradient(top, #cf7dee, #a44bf8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cf7dee,endColorstr=#a44bf8);zoom:1;
}
div#status #statusFl div#statusFlValue #BB {
	background:#a44bf8;
	border:1px solid #ad4cf2;
	/* gradient */
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #cf7dee),color-stop(1, #a44bf8));
	background-image:-moz-linear-gradient(top, #cf7dee, #a44bf8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cf7dee,endColorstr=#a44bf8);zoom:1;
}
div#status #statusFl div#statusFlValue #A {
	background:#cd0e00;
	border:1px solid #d01f00;
	/* gradient */
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #e18f00),color-stop(1, #cd0e00));
	background-image:-moz-linear-gradient(top, #e18f00, #cd0e00);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e18f00,endColorstr=#cd0e00);zoom:1;
}
div#status #statusFl div#statusFlValue #AA {
	background:#cd0e00;
	border:1px solid #d01f00;
	/* gradient */
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0, #e18f00),color-stop(1, #cd0e00));
	background-image:-moz-linear-gradient(top, #e18f00, #cd0e00);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e18f00,endColorstr=#cd0e00);zoom:1;
}

div#status #statusFl div#statusFlValue #SA {
	background:#e2aa00;
	border:1px solid #ca9704;

	/* gradient */
	background:-webkit-linear-gradient(top, #ffcc43 0%, #fff3cd 55%, #ffcc43 55%, #e2aa00 100%); /* Android(GalaxyS)は効かない */
	background:-moz-linear-gradient(top, #ffcc43 0%, #fff3cd 49%, #ffcc43 50%, #e2aa00 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcc43,endColorstr=#e2aa00,GradientType=0);zoom:1;
}

#noShop {
	background:none;
}

/* for Retina display (iPhone 4 Android IS03..) */
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
       only screen and (min--moz-device-pixel-ratio:1.5),
       only screen and (min-resolution:240dpi) {
	p.btnTwitter a span.icon {
		background:url(../img/common/btn_twitter_twice.png) no-repeat;
		-webkit-background-size:37px 37px;
		-moz-background-size:37px 37px;
		background-size:37px 37px;
	}
	p.toHome a span.icon {
		background:url(../img/common/btn_home_twice.png) no-repeat;
		-webkit-background-size:37px 37px;
		-moz-background-size:37px 37px;
		background-size:37px 37px;
	}
	p.toBack a span.icon {
		background:url(../img/common/btn_back_twice.png) no-repeat;
		-webkit-background-size:37px 37px;
		-moz-background-size:37px 37px;
		background-size:37px 37px;
	}
	p.toTop a span.icon {
		background:url(../img/common/btn_totop_twice.png) no-repeat;
		-webkit-background-size:37px 37px;
		-moz-background-size:37px 37px;
		background-size:37px 37px;
	}
	#footer {
		background:#CCC url(../img/common/bg_footer_twice.png) repeat-x;
		-webkit-background-size:23px 23px;
		-moz-background-size:23px 23px;
		background-size:23px 23px;
	}
	p.pagetop a span.icon {
		background:url(../img/common/btn_top_twice.png) no-repeat;
		-webkit-background-size:16px 16px;
		-moz-background-size:16px 16px;
		background-size:16px 16px;
	}
	p.btnList a {
		background:url(../img/common/arrow_white_twice.png) no-repeat;
		-webkit-background-size:11px 11px;
		-moz-background-size:11px 11px;
		background-size:11px 11px;
		background-position: 95% 50%;
	}
	ul.list li a {
		/* arrow */
		background:url(../img/common/arrow_blue_twice.png);
		-webkit-background-size:12px 12px;
		-moz-background-size:12px 12px;
		background-size:12px 12px;
		background-repeat:no-repeat;
		background-position:98% 50%;
	}
	div.btn p.btnMore a {
		background-image:url(../img/common/arrow_blue_btm_twice.png);
		-webkit-background-size:11px 11px;
		-moz-background-size:11px 11px;
		background-size:11px 11px;
		background-repeat:no-repeat;
		background-position:98% 50%;
	}
	p.toAreaTop a,
	p.btnBack a {
		background-image:url(../img/common/arrow_link_back_twice.png);
		-webkit-background-size:11px 11px;
		-moz-background-size:11px 11px;
		background-size:11px 11px;
		background-repeat:no-repeat;
		background-position:2% 50%;
	}
	p.btn a {
		background-image:url(../img/common/arrow_gray_twice.png);
		-webkit-background-size:10px 10px;
		-moz-background-size:10px 10px;
		background-size:10px 10px;
		background-repeat:no-repeat;
		background-position:93% 50%;
	}
	div.imageThrow {
		background-image:url(../img/common/img_dartsThrow_twice.png);
		background-repeat:no-repeat;
		-webkit-background-size:100px 80px;
		-moz-background-size:100px 80px;
		background-size:100px 80px;
	}
	ul.btnMenu li a {
		background-image:url(../img/common/arrow_gray_twice.png);
		-webkit-background-size:10px 10px;
		-moz-background-size:10px 10px;
		background-size:10px 10px;
		background-repeat:no-repeat;
		background-position:90% 50%;
	}
}


/* PC用 */
/* ウィンドウサイズが800px以上の場合のみ適用(仮) */
@media only screen and (min-width : 800px) {
	/* 背景画像指定 */
	html {
		background-image:url(../img/pc/bg_body.jpg) !important;
		background-repeat:no-repeat !important;
		background-position:center top !important;
	}
	#container {
		border-right:1px solid #b9b9b9;
		border-left:1px solid #b9b9b9;
	}
	
	/*-------------------------------------------------
	  * Common Footer Settings *
	-------------------------------------------------*/
	#footerArea {
		margin:20px 0 0 0;
		padding:0;
		background:#e5e0d4;
		position:relative;
		height:46px;
		overflow:hidden;
	}
	#footer {
		margin:0;
		padding:6px 0;
		background:#CCC url(../img/common/bg_footer_twice.png) repeat-x;
		-webkit-background-size:46px 46px;
		-moz-background-size:46px 46px;
		background-size:46px 46px;
		border-top:1px solid #b9b9b9;
	}
	#footer address {
		height:46px;
		padding:11px 9px;
	}
	p.pagetop {
		top:6px;
		right:6px;
		width:32px;
		height:32px;
	}

	/* Pagetop Arrow  */
	p.pagetop a span.icon {
		width:32px;
		height:32px;
		background:url(../img/common/btn_top_twice.png) no-repeat;
		-webkit-background-size:32px 32px;
		-moz-background-size:32px 32px;
		background-size:32px 32px;
	}
	p.comment {
		text-align:center;
		color:#77889d;
		font-size:12px;
		margin:10px 0 0 0;
	}
	p.btnChange a {
		background-image:url(../img/common/arrow_blue.png);
		-webkit-background-size:12px 12px;
		-moz-background-size:12px 12px;
		background-size:12px 12px;
	}
}


/* iPhone横表示対応 */
@media screen and (min-width: 360px) {
  * { -webkit-text-size-adjust: none; }
}



/*-------------------------------------------------
  * clearfix *
-------------------------------------------------*/
span#myRank:after,
span#rankData:after,
.btnArea:after,
ul.checkList:after,
ul.btnNextPrev:after,
div.btn:after,
div.listArea:after,
ul.tabNav:after,
ul.list li:after,
.clearfix:after {content:".";display:block;height:0.01px;clear:both;visibility:hidden;/*for modern browser*/}
span#myRank,
span#rankData,
.btnArea,
ul.checkList,
ul.btnNextPrev,
div.btn,
div.listArea,
ul.tabNav,
ul.list li,
.clearfix {min-height:1px;_overflow:visible;_height:1px;zoom:1;/*for IE 5.5-7*//*display:inline-block;*/}
* html span#myRank,
* html span#rankData,
* html btnArea,
* html ul.checkList,
* html ul.btnNextPrev,
* html div.btn,
* html div.listArea,
* html ul.tabNav,
* html ul.list li,
* html .clearfix {height:1px;/*for IE4,5*//*\*//*/height:auto; overflow: hidden;/**/}