/*-------------------------------------------------
  * Common Data UI Settings *
-------------------------------------------------*/
ul.result {
	display:block;
	position:relative;
	clear:both;
	width:100%;
	margin:0 auto;
	padding:0;
	background:none;
	line-height:1.0em;
}
ul.result li {
	display:block;
	font-size:12px;
	line-height:20px;
	border:1px solid #dadada;
	border-top:none;
	padding:0;
}
ul.result li a {
	display:block;
	padding:10px 5px 12px 5px;
	text-decoration:none;
	background:url(../img/common/arrow_blue.png);
	background-repeat:no-repeat;
	background-position:98% 50%;
}

/*--- RESULT GameList singles -----------------------------*/
ul.result ul.gameList {
	padding:0;
	margin:0;
	border:none;
}
ul.result ul.gameList li {
	padding:0 5px;
	margin:0;
	background:none;
	border:none;
}
ul.result ul.gameList li:first-child {
	padding-top:5px;
}
ul.result ul.gameList li:last-child {
	padding-bottom:5px;
}
ul.result ul.gameList li div.noCrown {
	float:left;
	width:18px;
	height:18px;
	padding:1px;
	background:none;
	text-align:center;
	color:#77889d;
}
ul.result ul.gameList li div.crown {
	float:left;
	width:18px;
	height:18px;
	padding:1px;
	background:url(../img/common/icon_crown.png) no-repeat;
}
ul.result ul.gameList li div.chicken {
	float:left;
	width:18px;
	height:18px;
	padding:1px;
	background:url(../img/common/icon_chicken.png) no-repeat;
}
ul.result ul.gameList li div.burst {
	float:left;
	width:18px;
	height:18px;
	padding:1px;
	background:url(../img/common/icon_burst.png) no-repeat;
}
ul.result ul.gameList li div.name {
	line-height:20px;
	float:left;
	width:74%;
	font-size:14px;
}
ul.result ul.gameList li div.point {
	line-height:20px;
	font-size:12px;
	color:#385487;
}

/*--- RESULT GameList doubles -----------------------------*/
ul.result ul.gameList li.doubles {
	padding:5px;
	margin:0;
	border:none;
	border-bottom:1px dashed #e8e8e8;
}
ul.result ul.gameList li.doubles:last-child{
	margin:0;
	padding:5px;
	border:none;
}
ul.result ul.gameList li.doubles div.crown {
	float:left;
	width:18px;
	height:36px;
	padding:1px;
	background:url(../img/common/icon_crown.png) no-repeat;
	background-position:50%;
}
ul.result ul.gameList li.doubles div.noCrown {
	float:left;
	width:18px;
	height:26px;
	padding:1px;
	padding-top:10px;
	background:none;
	text-align:center;
	color:#77889d;
}
ul.result ul.gameList li.doubles div.chicken {
	float:left;
	width:18px;
	height:36px;
	padding:1px;
	background:url(../img/common/icon_chicken.png) no-repeat;
	background-position:50%;
}
ul.result ul.gameList li.doubles div.burst {
	float:left;
	width:18px;
	height:36px;
	padding:1px;
	background:url(../img/common/icon_burst.png) no-repeat;
	background-position:50%;
}
ul.result ul.gameList li.doubles div.name {
	float:left;
	line-height:20px;
	width:74%;
	font-size:14px;
}
ul.result ul.gameList li.doubles:last-child div.name {
	float:left;
	line-height:20px;
	width:74%;
	font-size:14px;
}
ul.result ul.gameList li.doubles div.point {
	line-height:20px;
	font-size:12px;
	color:#385487;
}
ul.result ul.gameList li.doubles div.medDoubles {
	height:26px;
	padding:1px;
	padding-top:10px;
	text-align:left;
}

/*--- RESULT GameList singles -----------------------------*/
ul.result ul.gameList li.singles {
	padding:5px;
	margin:0;
	border:none;
	border-bottom:1px dashed #e8e8e8;
}
ul.result ul.gameList li.singles:last-child{
	margin:0;
	padding:5px;
	border:none;
}
ul.result ul.gameList li.singles div.crown {
	float:left;
	width:18px;
	height:18px;
	padding:1px;
	background:url(../img/common/icon_crown.png) no-repeat;
	background-position:50%;
}
ul.result ul.gameList li.singles div.noCrown {
	float:left;
	width:18px;
	height:18px;
	padding:1px;
	background:none;
	text-align:center;
	color:#77889d;
}
ul.result ul.gameList li.singles div.chicken {
	float:left;
	width:18px;
	height:18px;
	padding:1px;
	background:url(../img/common/icon_chicken.png) no-repeat;
	background-position:50%;
}
ul.result ul.gameList li.singles div.burst {
	float:left;
	width:18px;
	height:18px;
	padding:1px;
	background:url(../img/common/icon_burst.png) no-repeat;
	background-position:50%;
}

/*--- RESULT GameList trios -----------------------------*/
ul.result ul.gameList li.trios {
	padding:5px;
	margin:0;
	border:none;
	border-bottom:1px dashed #e8e8e8;
}
ul.result ul.gameList li.trios:last-child{
	margin:0;
	padding:5px;
	border:none;
}
ul.result ul.gameList li.trios div.crown {
	float:left;
	width:18px;
	height:54px;
	padding:1px;
	background:url(../img/common/icon_crown.png) no-repeat;
	background-position:50%;
}
ul.result ul.gameList li.trios div.noCrown {
	float:left;
	width:18px;
	height:34px;
	padding:1px;
	padding-top:20px;
	background:none;
	text-align:center;
	color:#77889d;
}
ul.result ul.gameList li.trios div.chicken {
	float:left;
	width:18px;
	height:54px;
	padding:1px;
	background:url(../img/common/icon_chicken.png) no-repeat;
	background-position:50%;
}
ul.result ul.gameList li.trios div.burst {
	float:left;
	width:18px;
	height:54px;
	padding:1px;
	background:url(../img/common/icon_burst.png) no-repeat;
	background-position:50%;
}
ul.result ul.gameList li.trios div.medTrios {
	height:34px;
	padding:1px;
	padding-top:20px;
	text-align:left;
}

/*--- RESULT GameList gallon -----------------------------*/
ul.result ul.gameList li.gallon {
	padding:5px;
	margin:0;
	border:none;
	border-bottom:1px dashed #e8e8e8;
}
ul.result ul.gameList li.gallon:last-child{
	margin:0;
	padding:5px;
	border:none;
}

ul.result ul.gameList li.gallon div.crown {
	float:left;
	width:18px;
	height:72px;
	padding:1px;
	background:url(../img/common/icon_crown.png) no-repeat;
	background-position:50%;
}
ul.result ul.gameList li.gallon div.noCrown {
	float:left;
	width:18px;
	height:52px;
	padding:1px;
	padding-top:30px;
	background:none;
	text-align:center;
	color:#77889d;
}
ul.result ul.gameList li.gallon div.chicken {
	float:left;
	width:18px;
	height:72px;
	padding:1px;
	background:url(../img/common/icon_chicken.png) no-repeat;
	background-position:50%;
}
ul.result ul.gameList li.gallon div.burst {
	float:left;
	width:18px;
	height:72px;
	padding:1px;
	background:url(../img/common/icon_burst.png) no-repeat;
	background-position:50%;
}
ul.result ul.gameList li.gallon div.medGallon {
	height:52px;
	padding:1px;
	padding-top:30px;
	text-align:left;
}
.globalMatch {
	margin:0;
	padding:0;
	width:100%;
	height:13px;
	background-image:url(../img/common/icon_globalMatch.png);
	background-repeat:no-repeat;
	background-position:right;
}

/* for Retina display (iPhone 4 Android IS03..) */
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
       only screen and (min--moz-device-pixel-ratio:1.5),
       only screen and (min-resolution:240dpi) { 
	ul.result ul.gameList li div.crown {
		background:url(../img/common/icon_crown_twice.png) no-repeat;
		-webkit-background-size:18px 18px;
		-moz-background-size:18px 18px;
		background-size:18px 18px;
		background-position:50%;
	}
	ul.result ul.gameList li div.chicken {
		background:url(../img/common/icon_chicken_twice.png) no-repeat;
		-webkit-background-size:18px 18px;
		-moz-background-size:18px 18px;
		background-size:18px 18px;
		background-position:50%;
	}
	ul.result ul.gameList li div.burst {
		background:url(../img/common/icon_burst_twice.png) no-repeat;
		-webkit-background-size:18px 18px;
		-moz-background-size:18px 18px;
		background-size:18px 18px;
		background-position:50%;
	}
	ul.result ul.gameList li.singles div.crown {
		background:url(../img/common/icon_crown_twice.png) no-repeat;
		-webkit-background-size:18px 18px;
		-moz-background-size:18px 18px;
		background-size:18px 18px;
		background-position:50%;
	}
	ul.result ul.gameList li.doubles div.crown {
		background:url(../img/common/icon_crown_twice.png) no-repeat;
		-webkit-background-size:18px 18px;
		-moz-background-size:18px 18px;
		background-size:18px 18px;
		background-position:50%;
	}
	ul.result ul.gameList li.trios div.crown {
		background:url(../img/common/icon_crown_twice.png) no-repeat;
		-webkit-background-size:18px 18px;
		-moz-background-size:18px 18px;
		background-size:18px 18px;
		background-position:50%;
	}
	ul.result ul.gameList li.gallon div.crown {
		background:url(../img/common/icon_crown_twice.png) no-repeat;
		-webkit-background-size:18px 18px;
		-moz-background-size:18px 18px;
		background-size:18px 18px;
		background-position:50%;
	}
	.globalMatch {
		background-image:url(../img/common/icon_globalMatch_twice.png);
		background-repeat:no-repeat;
		-webkit-background-size:108px 14px;
		-moz-background-size::108px 14px;
		background-size:108px 14px;
		background-position:right;
	}
}


/*-------------------------------------------------
  * clearfix *
-------------------------------------------------*/
ul.result ul.gameList li:after,
.clearfix:after {content:".";display:block;height:0.01px;clear:both;visibility:hidden;/*for modern browser*/}
ul.result ul.gameList li,
.clearfix {min-height:1px;_overflow:visible;_height:1px;zoom:1;/*for IE 5.5-7*//*display:inline-block;*/}
* html ul.result ul.gameList li,
* html .clearfix {height:1px;/*for IE4,5*//*\*//*/height:auto; overflow: hidden;/**/}