/*-------------------------------------------------
  * CARD TOP Common Settings *
  ※カードトップ共通
-------------------------------------------------*/


#headerArea {
	margin-bottom:5px;
	border:none;
}

/*--- Friend Campaign Banner Settings -----------------------------*/
/*
div#friendCampaign {
	width:100%;
	height:50px;
	margin:0;
	padding:0;
	background:#adebfd url(../../img/common/arrow_navy.png) no-repeat;
	background-position:98% 50%;
	border-top:1px solid #c1c1c1;
	border-bottom:1px solid #c1c1c1;
	overflow:hidden;
}
div#friendCampaign a {
	text-decoration:none;
	color:#000000;
}
div#friendCampaign img {
	overflow:hidden;
	float:left;
	margin:0;
	padding:0;
	border:none;
}
div#friendCampaign div.nextGoal {
	width:auto;
	margin:0;
	padding:5px 0 5px 0;
	text-align:center;
	font-size:11px;
	font-weight:600;
	line-height:1.3em;
}
span#people {
	font-size:24px;
	font-weight:800;
	line-height:1.3em;
}
*/
/*--- Campaign Banner Settings -----------------------------*/
a#campaignArea {}
a#campaignArea div#campaignBanner {
	width:auto;
	height:60px;
	text-align:center;
	background:url(../../img/cardtop/campaign/bg_campaign.gif);
	/* box shadow */
	-moz-box-shadow:0 0 5px rgba(0,0,0,.3) inset;
	-webkit-box-shadow:0 0 5px rgba(0,0,0,.3) inset;
	box-shadow:0 0 5px rgba(0,0,0,.3) inset;
	margin:0;
	padding:0;
}
a#campaignArea img {
	border:none;
}

/*--- League Banner Settings -----------------------------*/
div#league {
	width:100%;
	height:50px;
	margin:1px 0 0 0;
	padding:0;
	background:#093094;
	/* texture */
	background-image:url(../../img/cardtop/campaign/texture/texture_cross2.png);
	-webkit-background-size:7px 7px;
	-moz-background-size:7px 7px;
	background-size:7px 7px;
	overflow:hidden;
	/* box shadow */
	-webkit-box-shadow:#000000 0px 0px 5px inset;
	-moz-box-shadow:#000000 0px 0px 5px inset;
	box-shadow:#000000 0px 0px 5px inset;
}
div#league a {
	text-decoration:none;
}
div#league span#decorat {
	display:block;
	width:100%;
	height:50px;
	margin:0;
	padding:0;
	background:url(../../img/common/arrow_navy.png) no-repeat;
	background-position:98% 50%;
	/*overflow:hidden;*/
}
div#league span#leagueRank {
	display:block;
	height:50px;
	overflow:hidden;
	float:left;
	margin:0;
	padding:5px 15px 0 15px;
	line-height:1.0em;
	text-align:center;
}
div#league span#leagueRank span#leagueRankTitle {
	color:#e60012;
	font-size:9px;
	font-weight:600;
	line-height:1.0em;
}
div#league span#leagueRank span#leagueRankValue {
	color:#FFFFFF;
	font-size:16px;
	font-weight:600;
	line-height:1.2em;
}
div#league span#leagueName {
	overflow:hidden;
	display:block;
	width:auto;
	height:50px;
	padding:0;
	font-size:12px;
	line-height:1.2em;
	color:#FFFFFF;
}
div#league span#leagueName span#leagueNameText {
	display:block;
	width:auto;
	height:auto;
	display:block;
	margin:15px 80px 0 0;
	padding:0 10px 0 0;
	font-size:12px;
	line-height:1.0em;
	color:#FFFFFF;
	/* word-break */
	word-wrap:break-word;
	white-space:pre-wrap;
	word-break:break-all;
}
div#league span#leagueLogo {
	display:block;
	float:right;
	position:relative;
	top:0;
	overflow:hidden;
	display:block;
	width:38px;
	height:50px;
	margin:0;
	padding:0;
	top:-50px;
	right:35px;
	background:url(../../img/cardtop/campaign/super_league.png) no-repeat;
	/* box shadow */
	-webkit-box-shadow:#000000 0px 0px 5px;
	-moz-box-shadow:#000000 0px 0px 5px;
	box-shadow:#000000 0px 0px 5px;
}

ul.tab {
	display:block;
	width:auto;
	margin:0;
	padding:0;
	line-height:0;
	background:none;
}
ul.tab li {
	display:block;
	height:40px;
	width:54px;
	float:left;
	text-align:center;
	padding:0;
	margin:5px 8px 0 0;
	background:none;
}
ul.tab li a {
	display:block;
	width:98%;
	height:98%;
	text-align:center;
	margin:0;
	background:none;
}

ul.tab li#tabTop {
	background: url(../../img/common/cardtop/tab_top.png) no-repeat;
}
ul.tab li#tabTop_off {
	background: url(../../img/common/cardtop/tab_top_off.png) no-repeat;
}
ul.tab li#tabImadoko {
	background: url(../../img/common/cardtop/tab_imadoko.png) no-repeat;
}
ul.tab li#tabImadoko_off {
	background: url(../../img/common/cardtop/tab_imadoko_off.png) no-repeat;
}
ul.tab li#tabImadoko_plus {
	background: url(../../img/common/cardtop/tab_imadoko_plus.png) no-repeat;
}
ul.tab li#tabPlay {
	background: url(../../img/common/cardtop/tab_play.png) no-repeat;
}
ul.tab li#tabPlay_off {
	background: url(../../img/common/cardtop/tab_play_off.png) no-repeat;
}
ul.tab li#tabPlay_plus {
	background: url(../../img/common/cardtop/tab_play_plus.png) no-repeat;
}
ul.tab li#tabInfo {
	background: url(../../img/common/cardtop/tab_info.png) no-repeat;
}
ul.tab li#tabInfo_off {
	background: url(../../img/common/cardtop/tab_info_off.png) no-repeat;
}
ul.tab li#tabInfo_plus {
	background: url(../../img/common/cardtop/tab_info_plus.png) no-repeat;
}


/* for Retina display (iPhone 4 Android IS03..) */
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
       only screen and (min--moz-device-pixel-ratio:1.5),
       only screen and (min-resolution:240dpi) {
	
	div#friendCampaign {
		background:#adebfd url(../../common/img/common/arrow_navy_twice.png) no-repeat;
		background-position:98% 50%;
		-webkit-background-size:14px 14px;
		-moz-background-size:14px 14px;
		background-size:14px 14px;
	}
	ul.tab li#tabTop {
		background: url(../../img/common/cardtop/tab_top_twice.png) no-repeat;
		-webkit-background-size:54px 40px;
		-moz-background-size:54px 40px;
		background-size:54px 40px;
	}
	ul.tab li#tabTop_off {
		background: url(../../img/common/cardtop/tab_top_off_twice.png) no-repeat;
		-webkit-background-size:54px 40px;
		-moz-background-size:54px 40px;
		background-size:54px 40px;
	}
	ul.tab li#tabImadoko {
		background: url(../../img/common/cardtop/tab_imadoko_twice.png) no-repeat;
		-webkit-background-size:54px 40px;
		-moz-background-size:54px 40px;
		background-size:54px 40px;
	}
	ul.tab li#tabImadoko_off {
		background: url(../../img/common/cardtop/tab_imadoko_off_twice.png) no-repeat;
		-webkit-background-size:54px 40px;
		-moz-background-size:54px 40px;
		background-size:54px 40px;
	}
	ul.tab li#tabImadoko_plus {
		background: url(../../img/common/cardtop/tab_imadoko_plus_twice.png) no-repeat;
		-webkit-background-size:54px 40px;
		-moz-background-size:54px 40px;
		background-size:54px 40px;
	}
	ul.tab li#tabPlay {
		background: url(../../img/common/cardtop/tab_play_twice.png) no-repeat;
		-webkit-background-size:54px 40px;
		-moz-background-size:54px 40px;
		background-size:54px 40px;
	}
	ul.tab li#tabPlay_off {
		background: url(../../img/common/cardtop/tab_play_off_twice.png) no-repeat;
		-webkit-background-size:54px 40px;
		-moz-background-size:54px 40px;
		background-size:54px 40px;
	}
	ul.tab li#tabPlay_plus {
		background: url(../../img/common/cardtop/tab_play_plus_twice.png) no-repeat;
		-webkit-background-size:54px 40px;
		-moz-background-size:54px 40px;
		background-size:54px 40px;
	}
	ul.tab li#tabInfo {
		background: url(../../img/common/cardtop/tab_info_twice.png) no-repeat;
		-webkit-background-size:54px 40px;
		-moz-background-size:54px 40px;
		background-size:54px 40px;
	}
	ul.tab li#tabInfo_off {
		background: url(../../img/common/cardtop/tab_info_off_twice.png) no-repeat;
		-webkit-background-size:54px 40px;
		-moz-background-size:54px 40px;
		background-size:54px 40px;
	}
	ul.tab li#tabInfo_plus {
		background: url(../../img/common/cardtop/tab_info_plus_twice.png) no-repeat;
		-webkit-background-size:54px 40px;
		-moz-background-size:54px 40px;
		background-size:54px 40px;
	}
	div#league span#leagueLogo {
		background:url(../../img/cardtop/campaign/super_league_twice.png) no-repeat;
		-webkit-background-size:38px 50px;
		-moz-background-size:38px 50px;
		background-size:38px 50px;
	}
	div#league {
		background-image:url(../../img/cardtop/campaign/texture/texture_cross2_twice.png);
		-webkit-background-size:7px 7px;
		-moz-background-size:7px 7px;
		background-size:7px 7px;
	}
	div#league span#decorat {
		background:url(../../img/common/arrow_navy_twice.png) no-repeat;
		background-position:98% 50%;
		-webkit-background-size:14px 14px;
		-moz-background-size:14px 14px;
		background-size:14px 14px;
	}
	a#campaignArea div#campaignBanner {
		background:url(../../img/cardtop/campaign/bg_campaign_twice.png) repeat-x;
		-webkit-background-size:24px 160px;
		-moz-background-size:24px 160px;
		background-size:24px 160px;
	}
}


/* for PC display */
@media only screen and (min-width : 800px) {
	div#league span#leagueName span#leagueNameText {
		margin:18px 80px 0 0;
		font-size:16px;
		/* word-break */
		word-wrap:break-word;
		white-space:pre-wrap;
		word-break:break-all;
	}
}